<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href =/static/style.css >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
    <body id="ID-of-the-output-body-tag">

        <div class ="output">
            {{output}}

        </div>

        <div class="url">

            <form action = "/edit-form" method="post">
                <button type="submit" id="button-for-auto-redirecting"> Want To Save 15 min editing the silent parts in your video?? </button>

            </form>
        </div>


    </body>
</html>