<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
</head>

<body>
    <h1 id= "" >
        An unexpected Error occured Heres what may have been happend. <br> <br>
        1.you did'nt select any niche | Please select any niche before submiting  <br> <br> 
        2.you generated too many video ideas in a short period of time | please Try Again after a few moments <br> <br> 
        We really appericiate your patience please refresh the preivious page and Try again. <br>
    </h1>
   

</body>
</html>